<!--<ngx-loading [show]="loading"></ngx-loading>-->
<ion-header>
  <ion-toolbar>
    <ion-title>{{ modalTitle }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="itemDetailForm">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input id="name" formControlName="name"></ion-input>
      <span class="invalid" *ngIf="!itemDetailForm.get('name').valid && itemDetailForm.get('name').touched">
          Please enter a name.
      </span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-select id="category" formControlName="category" placeholder="Select One">
        <ion-select-option *ngFor="let category of categories" [value]="category.name">
          {{category.name}}
        </ion-select-option>
      </ion-select>
      <span class="invalid" *ngIf="!itemDetailForm.get('category').valid && itemDetailForm.get('category').touched">
          Please enter a category.
      </span>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea id="notes" formControlName="notes" rows="4"></ion-textarea>
    </ion-item>
  </form>

  <!--<ion-row>-->
  <!--<div class='text-center'>-->
  <!--<label ngbButtonLabel usNgbCheckboxButtonLabel>-->
  <!--<input type="checkbox" formControlName="kroger" ngbButton>Kroger-->
  <!--</label>-->
  <!--<label ngbButtonLabel usNgbCheckboxButtonLabel>-->
  <!--<input type="checkbox" formControlName="traderJoe" ngbButton>TJ's-->
  <!--</label>-->
  <!--<label ngbButtonLabel usNgbCheckboxButtonLabel>-->
  <!--<input type="checkbox" formControlName="lowe" ngbButton>Lowe's-->
  <!--</label>-->
  <!--</div>-->
  <!--</ion-row>-->

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button
              color="danger"
              fill="outline"
              (click)="openConfirmDeleteItemPopover()"
              *ngIf="!isNew">
              Delete
            </ion-button>
          </ion-col>
          <ion-col size="4" text-center>
            <ion-button
              style="width: 62px !important;"
              color="success"
              fill="outline"
              (click)="formSubmit()"
              [disabled]="!itemDetailForm.valid || itemDetailForm.pristine">
              Save
            </ion-button>
          </ion-col>
          <ion-col size="4" text-right>
            <ion-button
              color="medium"
              fill="outline"
              (click)="closeModal()">
              Close
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
