<ion-tabs>

  <ion-tab tab="shopping">
    <ion-router-outlet name="shopping"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="pantry">
    <ion-router-outlet name="pantry"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="stores">
    <ion-router-outlet name="stores"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="shopping" href="/tabs/(shopping:shopping)">
      <ion-icon name=""></ion-icon>
      <ion-label>Shopping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pantry" href="/tabs/(pantry:pantry)">
      <ion-icon name=""></ion-icon>
      <ion-label>Pantry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stores" href="/tabs/(stores:stores)">
      <ion-icon name=""></ion-icon>
      <ion-label>Stores</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
