<!--<ngx-loading [show]="itemService.loading"></ngx-loading>-->
<ion-header>
    <ion-toolbar>
        <ion-title>
            <h3>Pantry Items
            </h3>
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title>
            <ion-button size="small" color="primary" fill="outline" (click)="openNewItem()">
                <ion-icon name="add"></ion-icon>
                Create New Item
            </ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-list dragula="Pantry">
            <ion-item
                    class="list-group-item"
                    *ngFor="let item of items"
                    (click)="itemListClick(item)">
                <ion-label>{{ item.name }}</ion-label>
                <ion-icon name="arrow-forward"></ion-icon>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
